target/

# The following files are generated/updated by Hilla
node_modules/
frontend/generated/
vite.generated.ts
.idea
*.iws
*.iml
*.ipr
frontend/themes/hilla-todo/theme-editor.css
.idea/workspace.xml
